workflows/customer-support-workflow.json
{
  "name": "AI Customer Support Agent (public)",
  "nodes": [
    {
      "parameters": {
        "content": "Workflow Overview\n\n1. Receive customer request\n2. Normalize customer data\n3. Generate AI response\n4. Store conversation\n5. Send customer email",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -256
      ],
      "typeVersion": 1,
      "id": "724fb6cc-1136-4017-97f9-fddb18f2a86e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Information\n\nName:\n{{ $json.name }}\n\nEmail:\n{{ $json.email }}\n\nQuestion:\n{{ $json.question }}",
        "options": {
          "systemMessage": "You are the official AI Customer Support Assistant for OXIVAR AI, a company specializing in AI automation solutions.\n\nYour role is to provide clear, professional, and helpful responses to customer inquiries.\n\nRules:\n\n- Always represent OXIVAR AI professionally.\n- Be polite, friendly, and concise.\n- Answer only the customer's question.\n- If the customer asks about services, explain them clearly.\n- If you do not know the answer, politely say that the support team will contact them soon.\n- Never invent pricing, delivery times, guarantees, or company policies.\n- Never claim something that has not been provided.\n- Encourage the customer to reply if they need further assistance.\n\nResponse style:\n- Start with a friendly greeting using the customer's name if available.\n- Answer the question directly.\n- End with a professional closing.\n\nClosing:\n\nBest regards,\n\nOXIVAR AI\nIntelligent Automation Solutions\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -32
      ],
      "id": "0ede21dc-dca1-4d1c-9e76-78db4c679d9d",
      "name": "OXIVAR AI Assistant"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        496,
        144
      ],
      "id": "dfbc5e79-6e1e-4598-8487-a89479639f11",
      "name": "Gemini 2.5 Flash"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Response": "={{ $json.output }}",
            "Full Name": "={{ $('Normalize Data').item.json.name }}",
            "Email Address": "={{ $('Normalize Data').item.json.email }}",
            "Customer Question": "={{ $('Normalize Data').item.json.question }}",
            "Submitted At": "={{ $('Normalize Data').item.json.submitted_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Question",
              "displayName": "Customer Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -128
      ],
      "id": "0ec09dde-7ff4-4a5f-94b1-a646bc631925",
      "name": "Store Conversation"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $('Normalize Data').item.json.email }}",
        "subject": "Your Support Request - OXIVAR AI",
        "message": "=<!DOCTYPE html>\n<html>\n\n<head>\n<meta charset=\"UTF-8\">\n</head>\n\n<body style=\"margin:0;padding:0;background:#f4f7fb;font-family:Arial,Helvetica,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f7fb;padding:40px 0;\">\n\n<tr>\n<td align=\"center\">\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 10px 25px rgba(0,0,0,.08);\">\n\n<tr>\n\n<td style=\"background:#1f5fbf;padding:30px;text-align:center;\">\n\n<img\nsrc=\"https://raw.githubusercontent.com/engmohamadsamer-netizen/ai-customer-support-agent/main/assets/logo-horizontal.png\"\nalt=\"OXIVAR AI\"\nstyle=\"height:55px;display:block;margin:auto;\">\n\n</td>\n\n</tr>\n\n<tr>\n\n<td style=\"padding:40px;\">\n\n<h2 style=\"margin-top:0;color:#111827;\">\n\nHello {{ $('Normalize Data').item.json.name }},\n\n</h2>\n\n<p style=\"font-size:16px;color:#4b5563;line-height:1.7;\">\n\nThank you for contacting <strong>OXIVAR AI</strong>.\n\n</p>\n\n<p style=\"font-size:16px;color:#4b5563;line-height:1.7;\">\n\nOur AI Customer Support Assistant has successfully received your request and generated the following response.\n\n</p>\n\n<div style=\"margin:35px 0;padding:20px;background:#f8fafc;border-left:5px solid #1f5fbf;border-radius:8px;\">\n\n<p style=\"margin:0;font-size:14px;color:#6b7280;font-weight:bold;\">\n\nCUSTOMER QUESTION\n\n</p>\n\n<p style=\"margin-top:12px;font-size:16px;color:#111827;line-height:1.7;\">\n\n{{ $('Normalize Data').item.json.question }}\n\n</p>\n\n</div>\n\n<div style=\"margin:35px 0;padding:20px;background:#eef5ff;border-left:5px solid #2563eb;border-radius:8px;\">\n\n<p style=\"margin:0;font-size:14px;color:#2563eb;font-weight:bold;\">\n\nAI ASSISTANT RESPONSE\n\n</p>\n\n<p style=\"margin-top:12px;font-size:16px;color:#111827;line-height:1.8;white-space:pre-line;\">\n\n{{ $json.output }}\n\n</p>\n\n</div>\n\n<p style=\"font-size:15px;color:#4b5563;line-height:1.7;\">\n\nIf you need any additional assistance or have further questions, simply reply to this email.\n\nOur team will be happy to assist you.\n\n</p>\n\n<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:35px 0;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n\n<tr>\n\n<td width=\"70\">\n\n<img\nsrc=\"https://raw.githubusercontent.com/engmohamadsamer-netizen/ai-customer-support-agent/main/assets/logo-horizontal.png\"\nalt=\"OXIVAR AI\"\nstyle=\"height:45px;display:block;\">\n\n</td>\n\n<td style=\"padding-left:15px;font-size:14px;color:#374151;line-height:1.7;\">\n\n<strong style=\"font-size:16px;\">\n\nOXIVAR AI\n\n</strong>\n\n<br>\n\n<span style=\"color:#6b7280;\">\n\nIntelligent Automation Solutions\n\n</span>\n\n<br><br>\n\n<span style=\"color:#6b7280;\">\n\nAI Automation \u2022 AI Agents \u2022 Workflow Automation\n\n</span>\n\n<br>\n\n<span style=\"color:#6b7280;\">\n\nBusiness Intelligence Solutions\n\n</span>\n\n</td>\n\n</tr>\n\n</table>\n\n<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:35px 0;\">\n\n<p style=\"font-size:12px;color:#9ca3af;text-align:center;line-height:1.6;\">\n\nThis email was generated automatically by the OXIVAR AI Customer Support Agent.\n\n<br>\n\n\u00a9 2026 OXIVAR AI. All rights reserved.\n\n</p>\n\n</td>\n\n</tr>\n\n</table>\n\n</td>\n\n</tr>\n\n</table>\n\n</body>\n\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        112
      ],
      "id": "45ee1825-adf5-4f85-b4e3-15d279ed2fa1",
      "name": "Send Customer Reply",
      "webhookId": "96a5b4f9-b637-40a3-bff0-7ebf39ebef05"
    },
    {
      "parameters": {
        "content": "OXIVAR AI\n\nAI Customer Support Agent",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -272
      ],
      "typeVersion": 1,
      "id": "f4035875-c15f-47ed-b5d0-f53c55ecf3e6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-support",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        -32
      ],
      "id": "8b233769-cc91-4706-8997-3290de841a29",
      "name": "Receive Request",
      "webhookId": "662b0fe1-2315-47a3-be21-449dd710f139"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80dbb02f-aeb3-4c67-b40d-e0d04f24e077",
              "name": "name",
              "value": "={{$json.body.name}}",
              "type": "string"
            },
            {
              "id": "d6ec2dff-dd60-4147-bbe4-07cef569130b",
              "name": "email",
              "value": "={{$json.body.email}}",
              "type": "string"
            },
            {
              "id": "dc03feb5-3da0-48b5-b39d-a68d26b81e01",
              "name": "question",
              "value": "={{$json.body.question}}",
              "type": "string"
            },
            {
              "id": "84bf21ca-9045-474a-bb17-1e6120a791ea",
              "name": "submitted_at",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -32
      ],
      "id": "739616a5-a693-410e-9623-4e556bd98edb",
      "name": "Normalize Data"
    }
  ],
  "pinData": {},
  "connections": {
    "OXIVAR AI Assistant": {
      "main": [
        [
          {
            "node": "Store Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Customer Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "OXIVAR AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Receive Request": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "OXIVAR AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}